.card {
  outline: 1px solid green;
  width: fit-content;
  height: fit-content;
}

.detalhe{
  transition: transform 0.5s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}



::ng-deep .p-paginator {
  background-color: transparent;
  display: flex;
  align-items: center;
}

::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  color: var(--verdeFooter);
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

::ng-deep .p-paginator .p-paginator-prev:hover,
::ng-deep .p-paginator .p-paginator-next:hover,
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
  color: var(--dark-gray);
}

::ng-deep .p-paginator .p-paginator-current {
  color: var(--verdeFooter);
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-panel ul {
  padding-left: 0;
}

::ng-deep .p-paginator .p-dropdown{
  background-color: transparent;
  border : none;
}

::ng-deep .p-paginator-last.p-paginator-element.p-link:hover {
  background-color: transparent !important;
  color: inherit !important;
}::ng-deep .p-paginator-first.p-paginator-element.p-link:hover {
  background-color: transparent !important;
  color: inherit !important;
}
