<div class="flex align-items-center justify-content-end mt-3">
  <p-paginator
    [first]="first"
    [rows]="rows"
    [rowsPerPageOptions]="[8, 16, 24]"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
  ></p-paginator>
</div>

<div class="grid">
  <div *ngFor="let jogador of jogadores" class="card-container">
    <div class="card-content">
      <div class="team-background">

        <img
          [src]="'assets/FotoTime/' + jogador.timeId + '.jpg'"
          alt="Imagem do Time"
          (error)="onImageError($event, 'time')"
        />
      </div>

      <div class="conteudo-importante">
        <div class="profile-container">
          @if(jogador.liderTime){
          <img
            class="hat-icon"
            src="assets/pngwing.png"
            alt="Chapéu"
            matTooltip="Líder do Time"
          />}
          <div class="profile-image">
      <div class="profile-image">
        <img
          [src]="'assets/FotoUsuario/' + jogador.id + '.jpg'"
          alt="Foto do Jogador"
          (error)="onImageError($event, 'jogador')"

        />
      </div>
          </div>
      <div class="profile-details">
        <h3 class="name">{{ jogador.nome || 'Sem Nome' }}</h3>
        <p class="subtitle">{{ jogador.timeNome || 'Sem Time' }}</p>
      </div>
      <div class="actions">
        <button class="follow-btn" (click)="detalhe(jogador.id)">Detalhes</button>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

