.camisa{
  position: relative;
  max-width: 1rem;
  margin-inline: auto;
}

.emVolta{
  max-width: 30rem;
  position: absolute;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-inline: auto;
}

.dentro{
  max-width: 45rem;
  position: relative;
  z-index: 2;
  margin-left: -10em;
}
