.camisa{
  margin-top: 1em;
  position: relative;
  max-width: 1rem;
  margin-inline: auto;

}

.teste{
  min-height: 500px;
}

.container-camisa{
  width: max-content;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.emVolta{
  width: 33.7rem;
  object-fit: cover;
  animation: changeShadow 4s linear infinite; /* Adicionando animações */
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.dentro{
  max-width: 52.5rem;
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease-in-out , filter 0.2s ease-in-out, mask-image 1s ease-in-out;
  filter: grayscale(40%) blur(2px) ; /* Aplica um desfoque de 5 pixels */
  mask-image: url("/assets/Davizord site splat2.png");
  mask-size: contain;
  mask-repeat: repeat;
  mask-position: center;

  grid-column: 1 / 1;
  grid-row: 1 / 1;

  &:hover{
    mask-image: none;
    transform: scale(1.05) translate(-1em);
    filter: none; /* Aplica um desfoque de 5 pixels */

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeShadow {
  0% {
    filter: drop-shadow(16px 16px 20px var(--black-default)); /* Primeira cor */
  }
  33% {
    filter: drop-shadow(16px 16px 20px var(--verdeFooter) ); /* Segunda cor */
  }
  66% {
    filter: drop-shadow(16px 16px 20px var(--verdeFooter)); /* Terceira cor */
  }
  100% {
    filter: drop-shadow(16px 16px 20px var(--black-default)); /* Volta para a primeira cor */
  }
}
