
.navbar {
  background: linear-gradient(150deg, rgba(27, 67, 28, 1) 0%, rgba(55, 210, 58, 1) 16%, rgba(27, 71, 28, 1) 100%, rgba(0, 0, 0, 1) 100%);
}
  .nome {
    font-family: TF2Font, serif;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


.navbar-nav .nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-item-wrapper {
    display: flex;
    flex-direction: column;  /* Alinha verticalmente */
    align-items: center;  /* Centraliza horizontalmente */
    position: relative;  /* Para ajustar o chapéu em relação ao nome */
  }

  .hat-icon {
    max-width: 3rem;  /* Ajusta o tamanho do chapéu */
    height: 30px;
    margin-bottom: 5px;  /* Espaço entre o chapéu e o nome */
    opacity: 0;  /* Escondido inicialmente */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);  /* Move ligeiramente para cima */
  }

  &:hover .hat-icon, &.active .hat-icon {
    opacity: 1;  /* Mostra a imagem ao passar o mouse ou quando ativo */
    transform: translateY(-15px);  /* Move para a posição normal */
  }

  .nome {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;  /* Garante que o nome fique acima de outros elementos */
  }

  &:hover {
    color: whitesmoke;  /* Altera a cor ao passar o mouse */
  }
}

.navbar-nav .nav-link.active {
  color: whitesmoke;
}

.icone {
  transition: transform 0.5s ease;
}

.rotate-icon {
  transform: rotate(180deg);
}

