<div class="tudo">
  <div class="card">
    <div class="foto">
      <img class="foto-jogador" [src]="'assets/FotoUsuario/'+id+'.jpg'" alt="foto jogador">
    </div>
    <div class="classes">
      @for(classes of classe ; track classes){
      <img [src]="'assets/classes/' + classes + '.png'" class="tamanho-classe" alt="">}
    </div>
    <div class="camposNormais">
      @if(liderTime){
      <img class="hat-icon" src="assets/pngwing.png" alt="liderTime" matTooltip="Lider do Time">}
      <h1>{{ nome }}</h1>
      <h2>{{timeNome}}</h2>
    </div>
  </div>
</div>
