*{
  outline: 1px solid green;
}


.tudo{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.foto{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.foto-jogador{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card{
  height:60%;
  width: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.hat-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  z-index: 2;
}

.classes{
  display: flex;
  flex-direction: row;
}

.tamanho-classe{
  width: 50px;
  height: auto;
}
