

.tudo{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  filter: drop-shadow(1px 10px 10px var(--black-default));

}



.foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid green;
  filter: drop-shadow(1px 1px 10px var(--black-default));
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.foto-jogador {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card{
  height:60%;
  width: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.hat-icon {
  width: 40px;
  height: auto;
  z-index: 2;
  margin-bottom: -1em;
}

.classes{
  display: flex;
  flex-direction: row;
}

.tamanho-classe{
  width: 50px;
  height: auto;
}

.nome{
  font-family: TF2Font , sans-serif;
  font-weight: bold;
  filter: drop-shadow(1px 1px var(--verdeFooter));

}

.nomeTime{
  font-family: "Comic Sans MS" , sans-serif;
  margin-top: -30px;
  filter: drop-shadow(1px 1px var(--verdeFooter));

}

.camposNormais{
  display: flex;
  flex-direction: column;
  text-align:center;
  color: #303030;
}
