<div class="total">
<div class="container" [class.right-panel-active]="isRightPanelActive">
  <div class="form-container sign-up-container">
    <form [formGroup]="cadastrar">
      <h1>Criar Conta</h1>
      <app-input-text placeholder="Nome" formaControlName="nome"></app-input-text>
      <app-input-text placeholder="Email" formaControlName="email"></app-input-text>
      <app-input-password placeholder="Senha" formaControlName="senha"></app-input-password>
      <p-multiSelect
        [options]="classes"
        display="chip"
        formControlName="classesId"
        placeholder="Selecione suas classes"
        optionLabel="label"
        optionValue="value">
      </p-multiSelect>

      <button pButton type="button" (click)="salvar()">Cadastrar</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form formControlName="login">
      <h1>Login</h1>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Senha" />
      <a href="#">Esqueceu sua senha?</a>
      <button type="button">Entrar</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Já tem uma conta?</h1>
        <p>Tá fazendo o que aqui então!</p>
        <button class="ghost" (click)="togglePanel(false)">Fazer Login</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Ainda não se cadastrou?</h1>
        <p>Nunca será... se não se cadastrar</p>
        <button class="ghost" (click)="togglePanel(true)">Cadastre-se</button>
      </div>
    </div>
  </div>
</div>
</div>
