
.navbar {
  min-height: 100px;
  background: linear-gradient(150deg, rgba(27, 67, 28, 1) 0%,#22b70f 16%, rgba(27, 71, 28, 1) 100%, rgba(0, 0, 0, 1) 100%);
}
  .nome {
    font-size: 2em;
    font-family: TF2Font, serif;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


.navbar-nav .nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-item-wrapper {
    display: flex;
    flex-direction: column;  /* Alinha verticalmente */
    align-items: center;  /* Centraliza horizontalmente */
    position: relative;  /* Para ajustar o chapéu em relação ao nome */
  }

  .hat-icon {
    max-width: 2rem;  /* Tamanho maior do chapéu */
    height: 40px;  /* Ajuste a altura também */

    margin-bottom: 5px;  /* Espaço entre o chapéu e o nome */
    opacity: 0;  /* Escondido inicialmente */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);  /* Move ligeiramente para cima */
  }

  &:hover .hat-icon, &.active .hat-icon {
    opacity: 1;  /* Mostra a imagem ao passar o mouse ou quando ativo */
    transform: translateY(-20px);  /* Move para a posição normal */
  }

  .nome {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;  /* Garante que o nome fique acima de outros elementos */
  }

  &:hover {
    color: whitesmoke;  /* Altera a cor ao passar o mouse */
  }
}

.navbar-nav .nav-link.active {
  color: whitesmoke;
}

.icone {
  font-size: 2rem;  /* Tamanho do ícone */
  height: 3.5rem;   /* Ajuste a altura para evitar corte */
  width: 3.5rem;    /* Largura para evitar corte */
  line-height: 3.5rem;  /* Linha para centralizar o ícone */
  padding: 0.5rem;  /* Adiciona espaçamento ao redor do ícone */
  transition: transform 0.5s ease;
}
.mat-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;  /* Altura maior para acomodar o ícone */
  width: 4rem;   /* Largura maior */
}


.rotate-icon {
  transform: rotate(180deg);
}


::ng-deep .p-overlaypanel {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: fit-content;

}

::ng-deep .p-menu {
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
}

::ng-deep .p-menu .p-menuitem {
  font-size: 14px;
  font-weight: bold;
  color: #333; /* Cor do texto */
  transition: background-color 0.3s, color 0.3s;
}


/* Ajusta o ícone nos itens do menu */
::ng-deep .p-menu .p-menuitem-icon {
  color: #666;
  transition: color 0.3s;
}


::ng-deep .p-overlaypanel .p-overlaypanel-content{
  padding:0;
}
::ng-deep ol,
::ng-deep ul,
::ng-deep dl {
  margin: 0; /* Remove o margin */
  padding: 0; /* Remove o padding */
}


::ng-deep .p-menu a {
  text-decoration: none;
}

