::ng-deep .p-splitter-horizontal>.p-splitter-gutter{
  background-color: var(--verdeFooter);
}

::ng-deep .p-splitter-horizontal>.p-splitter-gutter>.p-splitter-gutter-handle{
  background-color: #2e2e2e;
  border: #8A8D8F 1px solid;
}

::ng-deep .p-splitter-panel-nested{
  display:block;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  position: relative;
  width: 60vw;
  height: 10%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex; /* Habilita o flexbox */
  flex-direction: column; /* Conteúdo em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;
}

.conteudo-importante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content:hover {
  transform: scale(1.05);
}

.team-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.team-background img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  opacity: 1;
}

.team-background-semfoco {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.num-jogadores{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 1em;
  filter: drop-shadow(1px 1px  var(--black-default));

}

.team-background-semfoco img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.profile-container {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.profile-details {
  z-index: 3;
  position: relative;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.subtitle {
  font-size: 0.9rem;
  color: #292929;
  font-weight: bold;
}

.actions {
  margin-top: 16px;
  z-index: 3;
  position: relative;
}
//
//.follow-btn {
//  padding: 10px 20px;
//  font-size: 0.9rem;
//  font-weight: bold;
//  color: #fff;
//  background-color: var(--verdeFooter);
//  border: none;
//  border-radius: 20px;
//  cursor: pointer;
//  transition: background-color 0.3s ease;
//}
//
//.follow-btn:hover {
//  background-color: green;
//}


.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr); /* Quatro colunas */
  gap: 3em;
  padding: 16px;
  max-width: 100%; /* Limita a largura máxima */
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas menores */
    padding: 16px; /* Espaçamento lateral reduzido */
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    padding: 8px; /* Espaçamento menor */
  }
}



::ng-deep .p-paginator {
  background-color: transparent;
  display: flex;
  align-items: center;
}



::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

::ng-deep .p-paginator .p-paginator-prev:hover,
::ng-deep .p-paginator .p-paginator-next:hover,
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
  color: var(--dark-gray);
}

::ng-deep .p-paginator .p-paginator-current {
  color: var(--verdeFooter);
  font-size: 14px;
  font-weight: bold;
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-panel ul {
  padding-left: 0;
}

::ng-deep .p-paginator .p-dropdown{
  background-color: transparent;
  border : none;
}

::ng-deep .p-paginator-last.p-paginator-element.p-link:hover {
  background-color: transparent !important;
  color: inherit !important;
}::ng-deep .p-paginator-first.p-paginator-element.p-link:hover {
   background-color: transparent !important;
   color: inherit !important;
 }


::ng-deep .p-paginator .p-paginator-prev:hover,
::ng-deep .p-paginator .p-paginator-next:hover,
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
  color: var(--verdeFooter);
}

::ng-deep .p-paginator .p-paginator-pages .p-highlight {
  color: var(--verdeFooter);
}

::ng-deep .p-paginator .p-dropdown {
  background-color: transparent;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-panel {
  background-color: #2d2d2d;
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-item:hover {
  background-color: #2d2d2d;
  color: var(--verdeFooter);
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
  color: var(--verdeFooter);
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus{
  background-color: var(--verdeFooter44);
}

::ng-deep .p-paginator-last.p-paginator-element.p-link:hover,
::ng-deep .p-paginator-first.p-paginator-element.p-link:hover {
  background-color: transparent !important;
  color: var(--verdeFooter) !important;
}

::ng-deep .p-paginator .p-dropdown{
  height: 2.5rem;
}



.profile-container {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.profile-image {
  margin-inline:auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hat-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: auto;
  z-index: 2;
}

.profile-details {
  z-index: 3;
  position: relative;
}
