<p-splitter
  [panelSizes]="[25, 75]"
  styleClass="custom-splitter"
  [style]="{border: '1px solid var(--verdeFooter)', margin: '1em 10em ',width:'80%' , height: '80vh', background: 'transparent' , color: 'inherit'}">

  <ng-template pTemplate>
    <div class="time-foto">
      <img [src]="'assets/FotoTime/' + id + '.jpg'" alt="">
    </div>
    <div class="time-nome">
      {{nome}}
    </div>
    <div class="time-desc">
      {{descricao}}
    </div>
    <div class="foto-jogo">
      @for(jogo of jogos; track jogo){
        {{jogo}}
      }
    </div>
    <div class="botoes-time">
      @if(getUsuarioLogado('liderTime') && getUsuarioLogado('timeId') === id){
      <p-button>Excluir Time</p-button>}
      @if( getUsuarioLogado('timeId') === id){
      <p-button>Sair do Time</p-button>}
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="flex align-items-center justify-content-end mt-3">
      <p-paginator
        [first]="first"
        [rows]="rows"
        [rowsPerPageOptions]="[3, 6, 9, 12]"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} de {totalRecords}"
      ></p-paginator>
    </div>

    <div class="grid">
      @for(jogador of jogadores; track jogador){
        <div class="card-content">
          <div class="chapeu">
            @if(jogador.liderTime){
              <img class="hat-icon"  [src]="'assets/pngwing.png'" alt="Chapéu"   matTooltip="Líder do Time" />}
          </div>
          <div class="profile-image">

            <img [src]="'assets/FotoUsuario/' + jogador.id + '.jpg'" alt="Foto do Jogador" (error)="onImageError($event, 'jogador')" />
          </div>

          <div class="conteudo-importante">
            <h3 class="name">{{ jogador.nome || 'Sem Nome' }}</h3>
            <div class="classes">
              @for(classe of jogador.classeIds; track classe){
              <img [src]="'assets/classesId/' + classe + '.png'" class="tamanho-classe" [alt]="classe" />}
            </div>
          </div>
          @if(getUsuarioLogado('liderTime') && getUsuarioLogado('timeId') === id){
          <div class="actions">
            <p-button class="follow-btn" [rounded]="true" icon="pi pi-angle-double-up" matTooltip="Promover a Líder" (click)="promoverJogador(jogador.id)"></p-button>
            <p-button class="follow-btn" [rounded]="true" icon="pi pi-times" matTooltip="Expulsar do Time" (click)="expulsarJogador(jogador.id)"></p-button>
          </div>}
        </div>
      }
    </div>
  </ng-template>
</p-splitter>
