
.visible-icon {
  visibility: visible;
  cursor: pointer;
}

.hidden-icon {
  visibility: hidden;
}

::ng-deep pInputText{
  width: 100%;
}

.card-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
  margin-bottom:2em;
  label{
    color:green;
  }
  input{
    width: 100%;
  }
}



