
<div class="container-anuncio">
  <div class="title">
    <h1>NOVOS MODELOS BAZINGA</h1>
    <span class="slogan">Seja o main character!</span>
  </div>
  <div class="camisa">
    <div class="container-camisa">
      <img class="emVolta" src="assets/Davizord%20site%20splat2.png" alt="">
      <p-carousel class="slider-mask" [ngClass]="{'mask-active': maskApplied}" [showIndicators]="false"
                  [showNavigators]="false"
                  [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="10000"
                  (onPage)="onCarouselChange()">
        <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
              <div class="relative mx-auto">
                <img src="assets/imagemcamisa2.png"
                     [alt]="product.name"
                     class="dentro"/>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<div class="creditos">
  <h1>Créditos para:</h1>
</div>
  <div class="container-pessoas">
    <div class="yoda">
      <img class="logo" ngSrc="assets/Star_Wars_Logo.svg.png" alt="" height="100" width="200">
      <img class="front-image" ngSrc="assets/126208.jpg" alt="" height="300" width="200">
      <img ngSrc="assets/yoda.jpg" class="yoda-bg" height="168" width="200" alt="">
    </div>
    <div class="yoda">
      <img class="logo" ngSrc="assets/Star_Wars_Logo.svg.png" alt="" height="100" width="200">
      <img class="front-image" ngSrc="assets/126208.jpg" alt="" height="300" width="200">
      <img ngSrc="assets/yoda.jpg" class="yoda-bg" height="168" width="200">
    </div>
    <div class="yoda">
      <img class="logo" ngSrc="assets/Star_Wars_Logo.svg.png" alt="" height="100" width="200">
      <img class="front-image" ngSrc="assets/126208.jpg" alt="" height="300" width="200">
      <img ngSrc="assets/yoda.jpg" class="yoda-bg" height="168" width="200">
    </div>
  </div>
